/*GOOGLE FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*VARIÁVEIS CSS*/
:root{
    --header-height: 3rem;
    --nav-width: 324px;

    /*Font weight*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*Cores*/
    --first-color: #cc4b2c;
    --first-color-dark: #662616;
    --first-color-darken: #290f09;
    --text-color: #54423d;
    --first-color-light: #eae7e6;
    --first-color-lighten: #fffafa;

    /*Fonte e tipografia*/
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem; 
    --h2-font-size: 1.25rem; 
    --h3-font-size: 1rem; 
    --normal-font-size: .938rem; 
    --small-font-size: .813rem;  
    --smaller-font-size: .75rem; 

    /*Margens*/
    --mb-1: .5rem; 
    --mb-2: 1rem;
    --mb-3: 1.5em;
    --mb-4: 2rem;
    --mb-5: 2.5rem;

    /*z index*/
    --z-fixed: 100; 
}

@media screen (min-width: )

/*BASE*/

/*CLASSE CSS*/